.portfolio-item-inner {
  position: relative;
  overflow: hidden;
}

.portfolio-info-hover {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: center;
  opacity: 0;
  transform: scale(1); /* Initial scale */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out 0.2s; /* Add transition for transform with a delay */
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
}

/* Add a class to trigger the hover state */
.portfolio-info-hover.hover {
  opacity: 1;
  transform: scale(0.5); /* Scale up */
  justify-content: center;
}

.portfolio-item:hover .portfolio-info-hover {
  opacity: 1;
  justify-content: center;
}

.portfolio-info-hover a {
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.portfolio-info-hover a:hover {
  color: #008080;
  transform: translateY(-5px);
}

.icon-left,
.icon-right {
  transition: color 0.3s ease;
  margin: 0 20px;
  justify-content: center;
}

.icon-left:hover,
.icon-right:hover {
  color: #00e6e6;
  transform: scale(1.1);
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.tech-badge {
  background: #333;
  color: #008080;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 2px;
}

.portfolio-item:hover .tech-stack {
  display: flex;
}

.portfolio-item .tech-stack {
  display: none;
}

.project-card {
  background-color: red !important;
}
.project-view-links-icons {
  width: 100%;
  display: flex;
  justify-content: center;
}
